.login-button {
  padding-top: 8px;
  font-size: 12pt;
  -webkit-text-fill-color: white;
}

.modal {
  -webkit-text-fill-color: black;
}

.modal-header {
  padding-bottom: 5px;
}

.modal-footer {
  padding: 0;
}

.modal-footer .btn-group button {
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child>button {
  border-right: 0;
}

label {
  font-size: 12pt;
}

ul>li>a {
  -webkit-text-fill-color: black;
}
