<div class="col-sm-2 login-button" *ngIf="username?.length > 0">
  <div class="btn-group" dropdown>
    <a dropdownToggle class="btn dropdown-toggle">{{username | slice:1:username?.length-1}}<span class="caret"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>
<div class="col-sm-1 pull-right login-button" (click)="showChildModal()" *ngIf="username==null || username?.length == 0">Login</div>

<div bsModal #childModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">User Login</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <!-- <label for="username">Username:</label> -->
            <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="userDetail.username" name="username">
          </div>
          <div class="form-group">
            <!-- <label for="password">Password:</label> -->
            <input type="password" class="form-control" id="passsword" placeholder="Password" [(ngModel)]="userDetail.password" name="password">
          </div>
          <h6 *ngIf="invalidCredentials" class="alert alert-danger">{{ errorMessage }}</h6>
          <!-- <div class="btn-group" role="group"> -->
          <button type="button" id="login" class="btn btn-primary btn-block" role="button" (click)="initiate_login($event)">Login</button>
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
